@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cv-container {
    width: 100%;
    height: 300vh;
    display: flex;
    flex-flow: column;
}

/* =============Header and Home section=========== */

.cv-container .header-top {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: url(bgcover.jpg);
    background-size: cover;
    color: white;
}

.cv-container .menu-bar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.cv-container .header-top .profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: 10px;
}

.cv-container .header-top img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: 0.5s;
    transform: scale(1);
}

.cv-container .header-top img:hover {
    transform: scale(1.1);
}

.cv-container .header-top h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* ===============End=================== */

/* ============= Social Bar ============ */

.cv-container .top-info {
    position: fixed;
    top: 30vh;
    left: -10px;
    padding: 7px 0px;
    color: #fff;
    line-height: 28px;
}

.cv-container .top-info ul {
    float: right;
    list-style: none outside none;
    margin-bottom: 0;
}

.cv-container .top-info li {
    margin: 10px 0;
    padding: 5px;
    padding-left: 13px;
    background: black;
    margin-left: 0;
    transition: 0.5s;
    transform: translateX(0);
}

.cv-container .top-info li:hover {
    transform: translateX(10px);
}

.cv-container .top-info li,
.cv-container .top-info li a {
    transition: all 0.2s ease-in;
}

.cv-container .top-info li a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 29px;
    line-height: 28px;
    text-align: center;
    width: 30px;
}

.cv-container .top-info li a:hover {
    color: #fff;
}

.cv-container .top-info li:hover a.my-facebook {
    color: #2260D2;
}

.cv-container .top-info li:hover a.my-tweet {
    color: #039EFE;
}

.cv-container .top-info li:hover a.my-pint {
    color: #FF0000;
}

.cv-container .top-info li:hover a.my-rss {
    color: #E8AE28;
}

.cv-container .top-info li:hover a.my-skype {
    color: #5BD1FF;
}

.cv-container .top-info li:hover a.my-google {
    color: #FF0000;
}

/* ==============End============= */


/* =========menu-section========= */
.menu-bar {
    position: sticky;
    top: 0;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
    background: #000;
}

.sticky {
    padding: 5px 100px;
    background: linear-gradient(#041d35, #420444);

}

.cv-container .menu-bar .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.cv-container .menu-bar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-container .menu-bar ul li {
    position: relative;
    list-style: none;
}

.cv-container .menu-bar ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.cv-container .menu-bar ul li a:hover {
    color: rgb(241, 7, 151);
}

.cv-container .menu-bar .menuToggle {
    visibility: hidden;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    padding: 3px 10px;
    border: 1px solid white;
    cursor: pointer;
}

/* ====== Responsive Menu ======*/

@media (max-width: 991px) {
    .cv-container .menu-bar .menuToggle {
        visibility: visible;
    }

    .cv-container .menu-bar .menuToggle:hover {
        border: 1px solid rgb(241, 7, 151);
        color: rgb(241, 7, 151);
    }

    .cv-container .menu-bar .menu {
        position: absolute;
        right: 0;
        top: 60px;
        width: 40%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background: rgba(53, 52, 52, 0.5);
        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.5s;
    }

    .cv-container .menu-bar .active {
        transform: scaleY(1);
    }

    .cv-container .menu-bar .menu ul {
        display: block;
    }

    .cv-container .menu-bar .menu ul li {
        padding: 5px 0;
    }

}

/* ===========End============ */

/* ===========End============ */

/* .sticky .logo,
.sticky ul li a {
    color: #000;
} */

/* ==========About Section======= */

.about-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}

.about-container .about-header {
    margin: 3% 2%;
}

.about-container .about-header h2 {
    line-height: 30px;
}

.about-container .about-header div {
    width: 80px;
    height: 0;
    border: 2px yellow solid;
}

.about-container .about-header h5 {
    color: rgb(90, 88, 88);
}

.about-container .profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container .profile-container .profile {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-container .profile-container .profile h4 {
    text-shadow: 2px 2px 5px rgb(90, 88, 88);
    font-size: 1.5rem;
}

.about-container .profile-container .profile h6 {
    font-size: 16px;
    color: rgb(90, 88, 88);
}

.about-container .profile-container .profile .content {
    margin-left: 5px;
}


/* =======Button Animation======*/
.about-container .profile-container .profile .content div {
    width: 100%;
    display: flex;
}

.about-container .profile-container .profile .content a {
    position: relative;
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 15px 5px 0 0;
}

.about-container .profile-container .profile .content a svg,
.about-container .profile-container .profile .content a svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 35px;
    fill: transparent;
}

.about-container .profile-container .profile .content a svg rect {
    stroke: #000;
    stroke-width: 6;
    stroke-dasharray: 300, 300;
    stroke-dashoffset: 0;
    transition: 1s;
}

.about-container .profile-container .profile .content a:hover svg rect {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: 135;
}

/* =============== */

/* =======Profile Image======== */
.about-container .profile-container .profile-image{
    width: 50%;
}

.about-container .profile-container .profile-image img {
    width: 90%;
    border: 4px solid purple;
    outline: 2px solid red;
}

/* ================ */

/* =======Introduction========= */

.about-container .profile-container .about {
    display: flex;
    flex-flow: column;
}

.about-container .profile-container .about .intro-header {
    width: 95%;
    margin-bottom: 15px;
}

.about-container .profile-container .about .intro-header h3 {
    font-size: 1.6rem;
    text-shadow: 2px 2px 5px rgb(90, 88, 88);
}

.about-container .profile-container .about .intro-header p {
    font-size: 18px;
    text-align: justify;
}

.about-container .profile-container .about .details h6 {
    font-size: 20px;
    margin: 15px 0;
}

.about-container .profile-container .about .details h6 span {
    color: rgb(90, 88, 88);
}

/* =========Intro-Social===== */

.about-container .profile-container .about .social-info ul {
    list-style: none outside none;
    margin: 0;
}

.about-container .profile-container .about .social-info li {
    display: inline-block;
    margin: 10px 5px;
    background: black;
    margin-left: 0;
    transition: 0.5s;
    transform: translateX(0);
}

.about-container .profile-container .about .social-info li:hover {
    transform: translateY(-10px);
}

.about-container .profile-container .about .social-info li,
.about-container .profile-container .about .social-info li a {
    transition: all 0.2s ease-in;
    border-radius: 5px;
}

.about-container .profile-container .about .social-info li a {
    width: 40px;
    height: 40px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.about-container .profile-container .about .social-info li a:hover {
    background: #fff;
}

.about-container .profile-container .about .social-info li:hover a.my-facebook {
    background: #2260D2;
}

.about-container .profile-container .about .social-info li:hover a.my-tweet {
    background: #039EFE;
}

.about-container .profile-container .about .social-info li:hover a.my-pint {
    background: #FF0000;
}

.about-container .profile-container .about .social-info li:hover a.my-rss {
    background: #211F1F;
}

.about-container .profile-container .about .social-info li:hover a.my-skype {
    background: #5BD1FF;
}

.about-container .profile-container .about .social-info li:hover a.my-google {
    background: #FF0000;
}

@media (max-width: 991px) {
    .about-container .profile-container {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .about-container .profile-container .profile{
        width: 90%;
    }

    .about-container .profile-container .profile-image{
        width: 70%;
        margin: 20px 0;
    }

    .about-container .profile-container .profile-image img { 
        width: 100%;
    }

    .about-container .profile-container .about {
        width: 85%;
    }

    .about-container .profile-container .about .intro-header {
        width: 100%;
    }

    .about-container .profile-container .about .details h6 {
        margin: 5px;
        font-size: 16px;
    }
}

/* ====================== */