body{
    margin: 0;
    padding: 0;
    /* background: #ccc; */
    background: #67B26F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul{
    
    display: flex;
    margin-top: 500px;
    padding: 0;
    justify-content: center;

}

ul li{
    list-style: none;
    margin: 0 60px;
    font-size: 60px;
    perspective: 1200px;
}

ul li a .fa{
    color: #262626;
    line-height: 100px;
}

ul li a{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    text-align: center;
    transform: rotate(-30deg) skew(30deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.5);
}
 
ul li a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: rotate(0deg) skewY(-45deg);
    transition: 0.5s;

}

ul li a:after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: rotate(0deg) skewX(-45deg);
    transition: 0.5s;

}

ul li a:hover{
    transform: rotate(-30deg) skew(30deg) translate(25px, -25px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

ul li:hover .fa{
    color: white;
}

ul li:nth-child(1) a:hover{
    background: #3b5999;
}

ul li:hover:nth-child(1) a:before{
    background: #2e4a86;
}

ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
}

ul li:nth-child(2) a:hover{
    background: #e4405f;
}

ul li:hover:nth-child(2) a:before{
    background: #d02d4c;
}

ul li:hover:nth-child(2) a:after{
    background: #f1395c;
}

ul li:nth-child(3) a:hover{
    background: #55acee;
}

ul li:hover:nth-child(3) a:before{
    background: #4184b7;
}

ul li:hover:nth-child(3) a:after{
    background: #4d9fde;
}

ul li:nth-child(4) a:hover{
    background: #dd4b39;
}

ul li:hover:nth-child(4) a:before{
    background: #c13929;
}

ul li:hover:nth-child(4) a:after{
    background: #e8432e;
}

ul li:nth-child(5) a:hover{
    background: #25D366;
}

ul li:hover:nth-child(5) a:before{
    background: #0d9c4b;
}

ul li:hover:nth-child(5) a:after{
    background: #0aaa3f;
}